* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --black-font: #252525;
    --white-font: #ffffff;
}
.fs-18 {
    font-size: 18px;
}
.fs-26 {
    font-size: 26px;
}
.fs-64 {
    font-size: 64px;
}
@font-face {
    font-family: "avenir";
    src: url(../assets/fonts/AvenirNextCyr-Regular.woff2);
}
.d-flex {
    display: flex;
}
.f-column{
    flex-direction: column;
}
.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}
body {
    font-family: "avenir";
}
.heading {
    max-width: 610px;
    text-align: center;
    gap: 24px;
}
.heading h1 {
    line-height: 80px;
    font-weight: 800;
}
.heading p {
    line-height: 35px;
    opacity: 80%;
}
.heading>button {
    padding: 18px 48px;
    background: var(--black-font);
    color: var(--white-font);
    border: none;
    border-radius: 16px;
}
.image-section {
    flex-wrap: wrap;
    margin-top: 16px;
    gap: 16px;
}
@media screen and (max-width:630px) {
    .heading h1{
        line-height: 60px;
        font-size: 45px;
    }
    .heading p{
        font-size: 20px;
    }
}